*{
    border: 0px solid red;
}

:root{
    --main-dark: #121212;
    --main-light: #FFFFFF;
    --main-grey: #808080;
    --main-light-grey: #F0F0F0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: var(--main-dark);
    background-color: var(--main-light-grey);
    user-select: none;
}

.calculator{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-dark);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.displays{
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: var(--main-light);
    padding: 5px;
    border-radius: 5px;
}

.displays > div{
    width: 100%;
    text-align: end;
}

.operation{
    color: var(--main-grey);
}

.result{
    font-size: 64px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
}

.h-grid{
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
}

button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 24px;
    background-color: var(--main-light-grey);
}

button:hover{
 filter: brightness(85%);
}

button:active:enabled{
    scale: 0.95;
}

button:disabled,
button[disabled]{
    filter: brightness(50%);
}